.cards-container {
    background-color: #efe8e19c;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-top :2rem;
    padding-bottom: 100px;
    row-gap: 38px;
    column-gap: 50px;
}